ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: skyblue;
}

span {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

liup {
    float: left;
}

lrup {
    float: right;
}

liup a, lrup a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

liup a:hover, lrup a:hover, a:active, .dropdown:hover, .dropbtn:active {
    background-color: cadetblue;
    font-weight: bolder;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightblue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: darkcyan
}

.dropdown:hover .dropdown-content {
    display: block;
}

.table a:link, a:visited {
    display: block;
    color: black;
    text-decoration: none;
}

.table a:hover, a:active {
    display: block;
    color: #a6a6a8;
    text-decoration: none;
}

#goods {
    width: 100%;
    border-collapse: collapse;
}

#goods td, #goods th {
    font-size: 20px;
    text-align: center;
    border: 1px solid #afb0b2;
    padding: 25px 7px 25px 7px;
}

#goods th {
    font-size: 1.1em;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(87, 142, 175);
    color: rgb(9, 0, 0);
}

#form {
    margin-top: 50px;
    margin-left: 100px;
    padding: 15px;
}


