<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录界面</title>
    <link rel="stylesheet" href="css/login.css" type="text/css">

</head>
<body>
<div class="box">
    <form action="/loginIn" method="post">
        <div class="inputBox">
            <input type="text" name="name" required="">
            <label>用户名</label>
        </div>
        <div class="inputBox">
            <input type="password" name="password" required="">
            <label>密码</label>
        </div>
        <input type="submit" id="login" value="登录">
        <input type="button" onclick="window.location.href='/toregister'" value="注册">
    </form>
    <p th:if="${msg=='error'}">
        <script>window.alert("用户名或密码错误，请重新输入")</script>
    </p>
</div>
</body>
</html>