<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录成功</title>
    <link href="css/project.css" rel="stylesheet" type="text/css">
</head>
<body>
<ul>
    <liup><a class="dropbtn" href="/tomain">主页</a></liup>
    <div class="dropdown">
        <a class="dropbtn">户籍操作</a>
        <div class="dropdown-content">
            <a href="/tohj">查询户籍</a>
            <a href="/zxhj">注销户籍</a>
            <a href="/toInsertHj">添加户籍</a>
        </div>
    </div>
    <div class="dropdown">
        <a class="dropbtn">个人信息操作</a>
        <div class="dropdown-content">
            <a href="/toSelectPerson">查询个人信息</a>
            <a href="/toInsertPerson">添加个人信息</a>
            <a href="/todeletePerson">删除个人信息</a>
            <a href="/tofindallpersonbyhj">查找同一户籍下的所有人</a>
        </div>
    </div>
    <lrup><a href="/tologin">退出</a></lrup>
</ul>
<h1>登录成功</h1>
</body>
</html>