<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人信息查询结果</title>
    <link href="css/project.css" rel="stylesheet" type="text/css">
</head>
<body>
<ul>
    <liup><a class="dropbtn" href="/tomain">主页</a></liup>
    <div class="dropdown">
        <a class="dropbtn">户籍操作</a>
        <div class="dropdown-content">
            <a href="/tohj">查询户籍</a>
            <a href="/toallhj">查看所有户籍</a>
            <a href="/zxhj">注销户籍</a>
            <a href="/toInsertHj">添加户籍</a>
            <a href="/toallzx">查询所有注销户籍信息</a>
        </div>
    </div>
    <div class="dropdown">
        <a class="dropbtn">个人信息操作</a>
        <div class="dropdown-content">
            <a href="/toAllPerson">查询所有的个人信息</a>
            <a href="/toSelectPerson">查询个人信息</a>
            <a href="/toInsertPerson">添加个人信息</a>
            <a href="/todeletePerson">删除个人信息</a>
            <a href="/tofindallpersonbyhj">查找同一户籍下的所有人</a>
        </div>
    </div>
    <lrup><a href="/tologin">退出</a></lrup>
</ul>
<h1>请输入身份证进行个人信息查询</h1>
<form action="/SelectPerson" method="post">
    身份证：<input type="text" name="sfz" required="">
    <input type="submit" value="查询">
    <p th:if="${msg}=='查询失败'">
        <script>window.alert("查无此人")</script>
    </p>
</form>
<table id="goods">
    <tr>
        <th>姓名</th>
        <th>性别</th>
        <th>身份证</th>
        <th>年龄</th>
    </tr>
    <tr>
        <th th:text="${person.name}"></th>
        <th th:text="${person.sex}"></th>
        <th th:text="${person.sfz}"></th>
        <th th:text="${person.age}"></th>
    </tr>
</table>
</body>
</html>